<section id="hero" class="full">
	<div id="hero-container">
		<div class="wrapper">
			<%= tag :img, :src => "/images/tablet-hero.png", :class => 'hero-img' %>
			<div class="text">
				<small>Hey there, just wanted to let you know that</small>
				<h1>We Specialise In:</h1>
				<h2>Custom website development</h2>
				<h2>Google search optimisation</h2>
				<h2>Social media advertising</h2>
				<h2>Newsletter design &amp; marketing</h2>
				<h2>Design &amp; branding</h2>
				<h2><a href="#hero-text">Find out more...</a></h2>
			</div>
		</div>
	</div>
	<div id="hero-text">
		<p>As a customer, finding comfort in an agency on first impression and having that maintained throughout the project is what we're known for delivering. I guess you could say we get a kick out of it.</p>
	</div>
</section>