<section id="prefer-container" class="full">
	<div class="wrapper">
		<header class="sub-title">
			<h2>People just prefer us</h2>
		</header>
		<p>Honesty, guidance and security are just a few of the reasons why our clients hold our business close to their hearts. We started off small but dreamt big. A few years later, we're doing some pretty big things with some pretty big labels. It's been an exciting journey for both our clients and ourselves. but hey, let's be honest.. we're only scratching the surface here..</p>
		<p>As a customer, finding comfort in an agency on first impression and having that maintained throughout the project is what we're known for delivering. I guess your could say we get a kick out of it.</p>
		<p>We're more than just a business.. we're a fast growing family with doors open for projects big or small, corporates to boutiques. Our work is more of a passion than just a 9 to 5.</p>
		<p>Our Director Miroslav is a cool cat. He's always up for a chat with a beer in the company of new people.</p>
		<span class="arrow"><%= tag :img, :src => "/images/arrow.svg", :height => '10px', :width => '110px' %></span><a href="javascript:void(0)" class="btn btn-white">Send him an email</a>
	</div>
</section>