<section id="contact" class="full">
	<div class="wrapper">
		<header class="sub-title">
			<h2>Contact us for a chat today</h2>
		</header>
		<div class="widgets">
			<div class="widget">
				<%= tag :img, :src => "/images/envelope.svg", :height => '32px', :width => '38px', :class => 'widget-img' %>
				<h3>Email</h3>
				<a href='mai&#108;to&#58;in&#37;66o&#64;&#37;77%65&#97;vi%6&#69;&#103;&#119;ebl&#101;%74%73&#46;com&#46;au'>&#105;&#110;&#102;o&#64;weavin&#103;w&#101;b&#108;e&#116;s&#46;c&#111;m&#46;&#97;u</a>
			</div>
			<div class="widget">
				<%= tag :img, :src => "/images/location.svg", :height => '32px', :width => '38px', :class => 'widget-img' %>
				<h3>Location</h3>
				82 Enmore Rd Newtown 2045<br />NSW Australia
			</div>
			<div class="widget">
				<%= tag :img, :src => "/images/phone.svg", :height => '32px', :width => '38px', :class => 'widget-img' %>
				<h3>Telephone</h3>
				<a href="tel:1300788641">1300 788 641</a>
			</div>
		</div>
		<form>
			<input type="text" placeholder="name" />
			<input type="email" placeholder="email" />
			<input type="tel" placeholder="phone" />
			<textarea placeholder="Please type your message here"></textarea>
			<input type="submit" value="Send message" class="btn" />
		</form>
	</div>
</section>