<header id="header">
    <a href="/" id="logo">
	    <%= image_tag "logo.svg" %>
	</a>
    <nav class="wrapper" id="nav">
        <a href="/">Home</a>
        <a href="/website-design-and-development">Web Design</a>
        <a href="/branding-and-graphic-design">Graphic</a>
        <a href="/google-search-advertising">Advertising</a>
        <a href="/portfolio">Work</a>
        <a href="/">Hints &amp; Tips</a>
        <a href="/contact">Contact</a>
    </nav>
</header>