<section id="service-widgets" class="full">
	<div class="wrapper">
		<div class="widgets" id="widget-web-development">
			<a href="/website-design-and-development" title="Website development and design" class="icon">
				<%= image_tag "webdesign.svg" %>
			</a>
			<h2>
				<a href="/website-design-and-development">Web Development</a>
			</h2>
			<div class="desc">
				<p>Need to take payment online? Maybe generate leads? Or maybe you need some sort of custom built CRM.. Learn more about different types of web services we offer. If you're after something custom, let's join forces and create!</p>
			</div>
			<a href="/website-design-and-development" title="Read more about website development" class="btn">Learn More</a>
		</div>
		<div class="widgets" id="widget-design">
			<a href="/branding-and-graphic-design" title="Print and Graphic Design" class="icon">
				<%= image_tag "design.svg" %>
			</a>
			<h2>
				<a href="/branding-and-graphic-design">Graphic Design</a>
			</h2>
			<div class="desc">
				<p>Branding recognition and designing with personality is what we're all about. Design is much more than just a bunch of pretty pixels. Learn more about what our designers can do for you.</p>
			</div>
			<a href="/branding-and-graphic-design" title="Read more about graphic design" class="btn">Learn More</a>
		</div>
		<div class="widgets" id="widget-web-development">
			<a href="/google-search-advertising" title="Digital marketing and advertising" class="icon">
				<%= image_tag "marketing.svg" %>
			</a>
			<h2>
				<a href="/google-search-advertising">Digital Marketing</a>
			</h2>
			<div class="desc">
				<p>Finding the right marketing strategy is exhausting and most times costly when inexperienced individuals trial their work at your cost. Find out more about different marketing options for self knowledge before making your next investment.</p>
			</div>
			<a href="/google-search-advertising" title="Read more about digital marketing and advertising" class="btn">Learn More</a>
		</div>
	</div>
</section>